@using HireMeApp.Services
@inject LookupService MyService
@model HireMeApp.ViewModels.InfoViewModel
<script>
    $('img.sample-image').click(function () {
        $(this).toggleClass("sample-image-large");
    });
</script>
@{
    var langName = MyService.GetLangName(Model.InfoNameVM[0].LanguageId);
}
<header class="w3-container w3-blue-grey w3-center">
    <h2>@(langName)</h2>
</header>
@foreach (var item1 in Model.InfoNameVM)
{
    <div class="w3-padding w3-white w3-display-container">
        <h2>@(item1.Info_Name)</h2>
        <div class="divider"></div>
        @foreach (var item3 in Model.TextBlockVM)
        {
            <div id="textBlockEdit@(item3.Id)">
                <textarea id="textEdit@(item3.Id)" readonly="readonly" class="w3-center">@item3.Text_block</textarea>
            </div>
            <div class="w3-center">
                <br>
                <a asp-controller="TextBlocks" asp-action="EditP" asp-route-id="@(item3.Id)" class="w3-button w3-theme" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Display">Edit</a>
                <a asp-controller="TextBlocks" asp-action="DeleteP" asp-route-id="@(item3.Id)" class="w3-button w3-theme">Delete</a>
            </div>
        }
    </div>
    <div class="divider"></div>
    List<int> picid = Model.PictureVM.Where(i => i.InfoId == item1.Id).Select(s => s.Id).ToList();
    foreach (var item2 in picid)
    {
        <img src="@Url.Action("GetImage", "Pictures", new {id = item2})" class="sample-image">
        <div class="w3-center">
            <br>
            <a asp-controller="Pictures" asp-action="Delete" asp-route-id="@(item2)" class="w3-button w3-theme">Delete</a>
        </div>
        <div class="divider"></div>
    }
}
<br />
<br />
<br />