@using HireMeApp.Services
@using Microsoft.AspNetCore.Identity
@using HireMeApp.Areas.Identity.Data
@inject SignInManager<HireMeAppUser> SignInManager
@inject UserManager<HireMeAppUser> UserManager
@inject LookupService MyService
<!DOCTYPE html>
<html lang="en">
<head>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website For Darren Tuggey</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/w3-theme-black.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/MyStyleSheet.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
    @*<script>
        //Loads the _index page when the layout is loaded.
        var url = '@Url.Action("IndexP", "Home")';
        $(document).ready(function(e){
            $.ajax({
                type: "GET",
                url: url
            }).done(function (r) {
                $('#Display').html(r);
            }).fail(function (e) {
                console.log(e.responseText);
            });
        });
    </script>*@
</head>
<body style="height: inherit;">
<!-- Side Navigation -->
@{
    var cSharp = MyService.GetCSharpList(1);
    var python = MyService.GetCSharpList(2);
    var aspnet = MyService.GetCSharpList(11);
    IgnoreBody();

}
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar"> @*style="width: 200px; display: none;"*@
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <button onclick="myAccFunc('CSharp')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">C#</button>
    <div id="CSharp" class="w3-hide">
        @foreach (var item in cSharp)
        {
            <a class="w3-button w3-block w3-left-align" asp-action="LoadNameView" asp-controller="InfoNames" asp-route-id="@(item[1])" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Display">@(item[0])</a>
        }
    </div>
    <button onclick="myAccFunc('ASPNET')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">ASP.NET</button>
    <div id="ASPNET" class="w3-hide">
        @foreach (var item in aspnet)
        {
            <a class="w3-button w3-block w3-left-align" asp-action="LoadNameView" asp-controller="InfoNames" asp-route-id="@(item[1])" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Display">@(item[0])</a>
        }
    </div>
    <button onclick="myAccFunc('Python')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Python</button>
    <div id="Python" class="w3-hide">
        @foreach (var item in python)
        {
            <a class="w3-button w3-block w3-left-align" asp-action="LoadNameView" asp-controller="InfoNames" asp-route-id="@(item[1])" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Display">@(item[0])</a>
        }
    </div>
    </div>
    <!-- Pushes Content to the right -->
    <div class="w3-main" style="margin-left: 200px;height: 100%;">
        <!-- Header -->
        <button class="w3-xlarge w3-button w3-theme w3-hide-large" style="float: left" onclick="w3_open()">&#9776;</button>
        <header class="w3-container w3-theme w3-padding myHeader" id="myHeader">
            <div class="w3-center">
                <h4>Demonstration Website for</h4>
                <h1 class="w3-xxxlarge w3-animate-bottom">Darren Tuggey</h1>
            </div>
            <div style="float: right">
                <partial name="_LoginPartial"/>
            </div>
        </header>
        <!-- Footer -->
        <footer class="w3-row w3-theme-dark w3-bottom" style="width: 100%;width: -moz-available;width: -webkit-fill-available;">
            <p> Website Demo for Darren Tuggey - <a asp-controller="Home" asp-action="Index">Home</a></p>
        </footer>
        <div style="height: calc(100% - (132px + 52.5px));" class="w3-cell-row">
            <div id="Display" style="height: inherit;" class="w3-cell w3-center ">
               @*@RenderBody()*@
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
